.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
cache/
.ipynb_checkpoints/
__pycache__/
raw_datasets/
labeled_datasets/
Drone_Movement_Routine.ipynb
.misc/