.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
cache/
.ipynb_checkpoints/
__pycache__/
raw_datasets/
Drone_Movement_Routine.ipynb
drone-dataset-uav.zip
amateur-unmanned-air-vehicle-detection-dataset.zip
libs/
labeled_datasets/
